<!DOCTYPE html>
<html>
<head>
<title>Games</title>

<STYLE type="text/css">
html, body {height:100%;}
html {display:table; margin:auto; }
body {display:table-cell; text-align:center; vertical-align:middle; }
</STYLE>

</head>
<body>

<div style="text-align: left; background-color: #eeeeee; width:500px; padding:10px; ">

<p>This demonstrates how to center align body contents both horizontally and vertically. css is:</p>

<p>
html, body {height:100%;} <br/>
html {display:table; margin:auto; } <br/>
body {display:table-cell; text-align:center; vertical-align:middle; }
</p>

<ul>
<li>Item 1</li>
<li>Item 2</li>
<li>Item 3</li>
</ul>
</div>

</body>
</html>
