<!DOCTYPE html>
<html>
<head>
<title>Games</title>

<STYLE type="text/css">
html {display:table; margin-left:auto; margin-right:auto; margin-top:20px; }
body {display:table-cell; text-align:center; }
</STYLE>

</head>
<body>

<div style="text-align: left; background-color: #eeeeee; width:500px; padding:10px; ">

<p>This demonstrates how to center align body contents horizontally. css is:</p>

<p>
html {display:table; margin-left:auto; margin-right:auto; margin-top:20px; }<br/>
body {display:table-cell; text-align:center; }
</p>

<ul>
<li>Item 1</li>
<li>Item 2</li>
<li>Item 3</li>
</ul>

<p>
The early method is to use the <i>&lt;center&gt;</i> tag, 
but it is no longer supported in HTML5 [1].
In HTML5, use CSS as shown here.
</p>


<p>
References:<br/>
[1] <a href="http://www.w3schools.com/tags/tag_center.asp">HTML &lt;center&gt; Tag. Not Supported in HTML5.</a>
</p>

</div>

</body>
</html>
